/*START about-title*/

.about-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Moderat-Bold';
}

/*START about-title*/


/*START about-section-1*/

.about-section-1 {
    background: var(--negro);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Moderat';
    color: var(--crema);
    text-align: left;
}

/*about-section-1 .description*/


.about-section-1 .description {
    color: #adb5bd;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.about-section-1 h4 {
    font-size: 20px;
    font-family: 'Moderat-Light';
}

.about-section-1 h1 span {
    text-decoration: underline;
    color: var(--anaranjado);
}

.about-section-1 h1 .span-azul {
    text-decoration: underline;
    color: var(--azul);
}

.about-section-1 h4 span {
    font-style: italic;
}

.about-section-2 h5 {
    font-size: 22px;
    font-weight: 500;
}

.about-section-2 p {
    font-size: 15px;
    font-weight: 500;
}


/*END about-section-1*/


/*START about-section-2*/

.about-section-2 {
    background: var(--crema);
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: 'Moderat';
    color: var(--negro);
}

.about-section-2 .accordion {
    padding-top: 2rem;
}

.about-section-2 .accordion-button {
    color: var(--negro);
}

.about-section-2 .accordion .accordion-button .anaranjado {
    color: var(--anaranjado);
}

.about-section-2 .accordion .accordion-button .education-anaranjado:hover {
    text-decoration: 2px underline;
}

.about-section-2 .accordion .accordion-button .azul {
    color: var(--azul);
}

.about-section-2 .accordion .accordion-button .experience-azul:hover {
    text-decoration: 2px underline;
}

.about-section-2 .accordion .accordion-button .amarillo {
    color: var(--amarillo);
}

.about-section-2 .accordion .accordion-button .cv-amarillo:hover {
    text-decoration: 2px underline;
}

#cv-body a .primary-button {
    margin-right: 1rem;
    margin-top: 1rem;
}

#cv-body a .secondary-button {
    margin-top: 1rem;
}

/*END about-section-2*/


/*START decorative-banner-1*/

.decorative-banner-1 {
    background-image: url(../images/8-08.png);
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END decorative-banner-1*/


/*START about-section-3*/

.about-section-3 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section-3 p {
    font-family: 'Moderat';
}

.wrapper {
    margin: 0 auto;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
    overflow: hidden;
}

.skill>p {
    font-size: 20px;
    font-weight: 700;
    color: var(--negro);
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: white;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 5px;
    display: block;
    position: relative;
}

.skill span {
    font-family: 'Moderat-Bold';
}

/* SKILL 1 */
.skill1 {
    width: 99%;
    background: #E9501D;

}

.skill-bar span {
    position: absolute;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;
}

.skill1 .skill-count1 {
    right: 0;
}

/* SKILL 2 */
.skill2 {
    width: 95%;
    background: #2A81B3;
}

.skill2 .skill-count2 {
    right: 0;
}

/* SKILL 3 */
.skill3 {
    width: 85%;
    background: #FBC03A;
}

.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4 {
    width: 90%;
    background: #78AA8D;
}

.skill4 .skill-count4 {
    right: 0;
}

/* SKILL 5 */
.skill5 {
    width: 85%;
    background: #F5AEA2;
}

.skill5 .skill-count5 {
    right: 0;
}

/* SKILL 6 */
.skill6 {
    width: 80%;
    background: #E9501D;
}

.skill6 .skill-count6 {
    right: 0;
}

/* SKILL 7 */
.skill7 {
    width: 70%;
    background: #2A81B3;
}

.skill7 .skill-count7 {
    right: 0;
}

/*END about-section-3*/





/*START MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}


/*END MEDIA QUERIES*/