/*START home-section-1*/

.home-section-1 {
    background: var(--crema);
    padding-top: 3rem;
    padding-bottom: 0rem;
    font-family: 'Moderat';
    color: var(--negro);
    text-align: left;
}

.home-section-1 h1 {
    font-family: 'Moderat-Medium';
    line-height: 55px;
    font-size: 65px;
}

.home-section-1 h1 span {
    text-decoration: 3px underline;
}

i.punto-anaranjado {
    color: var(--anaranjado);
    font-size: 1.5rem;
}

.scroll-down {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--negro) !important;
}

.scroll-down:hover {
    color: var(--azul) !important;
}

.home-section-1 .mi-cara {
    margin-bottom: 6rem !important;
    margin-left: 0rem;
    overflow: hidden !important;
}

.home-section-1 .mi-cara img {
    width: 100%;
    border-radius: 0px;
}

.home-section-1 .mi-cara .image-face {
    overflow: hidden !important;
    height: 320px;
    width: 320px;
    border-radius: 600px;
}

.home-section-1 .mi-cara .image-face img {
    transition: all 0.2s ease-in;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    animation: zoom-cara 5s ease-in-out;
    animation-iteration-count: 1;
}

.home-section-1 .mi-cara .image-face img:hover {
    transform: scale(1.12);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

@keyframes zoom-cara {
    from {
        width: 120%;
    }

    to {
        width: 100%;
    }

}

/*END home-section-1*/


/*START decorative-banner-1*/

.decorative-banner-1 {
    background-image: url(../images/wallpaper/wallpaper.jpg);
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END decorative-banner-1*/


/*START home-section-2*/

.home-section-2 {
    background: var(--negro);
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Moderat';
    color: var(--crema);
    text-align: right;
}

.home-section-2 h1 {
    font-family: 'Moderat-Medium';
    line-height: 50px;
    font-size: 60px;
}

/*END home-section-2*/



/*START Slick Carousel*/

.slick-slider {
    display: flex;
    background: var(--negro);
    padding-top: 2rem;
}

.slick-slider .project-card {
    width: 50px;
    height: auto;
    margin: .5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
}

.slick-slider .project-card .img {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
}

.slick-slider .project-card .img img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    transition: all 0.2s ease-in;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
}

.slick-slider .project-card:hover .img img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.slick-slider .project-card .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--azul);
    transition: all 0.2s ease-in;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
}

.slick-slider .project-card .img:hover .overlay {
    opacity: 1;
}

.slick-slider .project-card .overlay span {
    color: var(--negro) !important;
    padding-top: 5rem;
    font-size: 20px;
    font-family: 'Moderat-Light';
}

.slick-slider .project-card .project-info {
    color: var(--crema);
    font-size: 25px;
    font-family: 'Moderat';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.slick-slider .slick-dots {
    display: none !important;
}

/*Buttons*/

.slick-prev,
.slick-next {
    margin: 3rem;
    top: 45%;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'Moderat-Cond-Light';
    font-size: 50px;
    opacity: .5;
    color: transparent;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.slick-next:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

/*END Slick Carousel*/


/*START home-section-3*/

.home-section-3 {
    background: var(--crema);
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: 'Moderat';
    color: var(--negro);
    text-align: left;
}

.home-section-3 h1 {
    font-size: 40px;
    font-family: 'Moderat';
    font-size: 50px;
}

.home-section-3 h4 {
    font-family: 'Moderat-Medium';
    font-size: 45px;
    line-height: 45px;
}

.home-section-3 h5 {
    font-family: 'Moderat-Light';
    font-size: 30px;
    text-align: right;
}

.home-section-3 i {
    color: var(--anaranjado);
    font-size: 1rem !important;
    transform: translateY(-2px);
}

/*END home-section-3*/


/*START MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .home-section-1 h1 {
        font-family: 'Moderat-Medium';
        line-height: 40px;
        font-size: 40px !important;
    }

    .home-section-2 h1 {
        font-family: 'Moderat-Medium';
        line-height: 40px;
        font-size: 40px !important;
    }

    i.punto-anaranjado {
        color: var(--anaranjado);
        font-size: 1rem;
    }

    .home-section-3 h4 {
        font-family: 'Moderat-Medium';
        line-height: 30px;
        font-size: 30px !important;
    }

    .home-section-3 h5 {
        font-family: 'Moderat-Light';
        font-size: 20px;
    }

    .home-section-3 i {
        color: var(--anaranjado);
        font-size: .6rem !important;
        padding-left: 0rem !important;
        transform: translateY(-2px);
    }

    .home-section-1 .scroll-down {
        display: none;
    }

    .home-section-1 .mi-cara {
        margin-bottom: 2rem !important;
    }

    .home-section-3 .site-buttons {
        margin-left: 0rem;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .home-section-1 .scroll-down {
        display: none;
    }

    .home-section-1 .mi-cara {
        margin-bottom: 6rem !important;
    }

    .home-section-3 .site-buttons {
        margin-left: 0rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/*END MEDIA QUERIES*/
