/*START project-long-title*/

.project-long-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Moderat-Bold";
    color: var(--negro);
    background: var(--crema);
}

.project-long-title .scroll-down {
    color: var(--negro) !important;
    text-align: right !important;
}

.project-long-title .scroll-down:hover {
    color: var(--azul) !important;
    transition: 0s !important;

}

/*START project-long-title*/


/*START project-long-section-1*/

.project-long-section-1 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.project-long-section-1 {
    transition: 0.3s;
}

.carousel-item {
    overflow: hidden;
}

.carousel-item:hover {
    transform: scale(1.15);
}

.carousel-item img {
    width: 100%;
    height: 65vh;
    -o-object-fit: cover;
    object-fit: cover;
}


#exampleModal .modal-content {
    background: none;
    border: none;
    border-radius: 10px;
    padding-bottom: 1rem;
}

#exampleModal .modal-header button {
    background: none;
    color: var(--anaranjado);
    border: none;
    font-size: 2rem;
    position: relative;
}

#exampleModal .modal-header button:hover {
    text-decoration: 2px underline;
}

#exampleModal .modal-body {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#exampleModal .modal-body::before {
    top: -5px;
    left: -5px;
}

#exampleModal .modal-body::after {
    bottom: -5px;
    right: -5px;
    z-index: -1;
}

#exampleModal .carousel-control-next-icon,
#exampleModal .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
}

#exampleModal .carousel-indicators {
    bottom: -60px;
}

#exampleModal .carousel-indicators li:hover {
    background: white;
}

#exampleModal .carousel-indicators li.active {
    background: white;
}

#exampleModal .modal-footer h5 {
    justify-content: left;
    color: var(--negro);
    font-family: 'Moderat';
}


/*END project-long-section-1*/


/*START MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }
}


/*END MEDIA QUERIES*/



/*START project-long-description */

.project-long-description {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--negro);
    color: var(--crema);
}

.project-long-description .description {
    color: #adb5bd;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.project-long-description h5 {
    font-size: 20px;
    font-family: 'Moderat';
}

/*END project-long-description */


/*START project-long-section-2*/


.site-main .project-long-section-2 {
    background: var(--crema);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.site-main .project-long-section-2 h1 {
    font-weight: bold;
}

.site-main .project-long-section-2 h1 span {
    font-weight: lighter;
    text-decoration: underline;
    color: var(--azul);
    font-size: 3rem;
}


/*START OWL CAROUSEL*/


a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a {
    text-decoration: none !important;
}

.content {
    padding: 1rem 0;
}

h2 {
    font-size: 20px;
}

.carousel-nav {
    font-weight: bold !important;
    padding-bottom: 1rem;
}

.carousel-nav i {
    padding-right: 1rem;
}

.carousel-nav .anaranjado {
    color: var(--anaranjado);
    font-size: 15px !important;
}

.carousel-nav .azul {
    color: var(--azul);
    font-size: 15px !important;

}

.carousel-nav .amarillo {
    color: var(--amarillo);
    font-size: 15px !important;

}

.owl-1 .owl-nav {
    width: 100vw;
    position: absolute;
    top: 50%;
}

.media-29101 .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.media-29101 .text {
    padding: 1rem;
}

@media (max-width: 991.98px) {
    .media-29101 .text {
        padding: 20px;
        width: 100%;
    }
}

.media-29101 .text .category {
    color: #adb5bd;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.media-29101 .text h2 {
    font-family: "Moderat", times, serif;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 30px;
}

.media-29101 .text h2 a {
    color: var(--negro);
}

.carousel-nav {
    width: 100%;
    border-bottom: 1px solid var(--negro);
    margin-bottom: 40px;
}

.carousel-nav a {
    color: var(--negro);
    padding: 5px;
    padding-bottom: 1rem;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.carousel-nav a:hover {
    text-decoration: 2px underline !important;
}

.carousel-nav a.active {
    text-decoration: 2px underline !important;

}

.owl-carousel p {
    font-size: 15px;
}


/*END OWL CAROUSEL*/


.site-main .project-text {
    background: var(--crema);
    padding-top: 8rem;
    padding-bottom: 5rem;
    padding-left: 4.5rem;
    padding-right: 5rem;
}

.site-main .project-text h1 {
    font-size: 3rem;
    text-decoration: underline;
}

/*END project-long-section-2*/

/*START decorative-banner-1*/

.decorative-banner-1 {
    background-image: url(../images/8-08.png);
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END decorative-banner-1*/

/*START MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .carousel-nav i {
        padding-right: 3rem;
    }

    .project-long-title .scroll-down {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .project-long-title .scroll-down {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}


/*END MEDIA QUERIES*/