/*START project-short-title*/

.project-short-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Moderat-Bold";
}

.project-short-title .scroll-down {
    color: var(--negro) !important;
    text-align: right !important;
}

.project-short-title .scroll-down:hover {
    color: var(--azul) !important;
    transition: 0s !important;

}

/*END project-short-title*/



/*START project-short-section-1*/

.project-short-section-1 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.project-short-section-1 {
    transition: 0.3s;
}

.carousel-item {
    overflow: hidden;
}

.carousel-item:hover {
    transform: scale(1.15);
}

.carousel-item img {
    width: 100%;
    height: 65vh;
    -o-object-fit: cover;
    object-fit: cover;
}


#exampleModal .modal-content {
    background: none;
    border: none;
    border-radius: 10px;
    padding-bottom: 1rem;
}

#exampleModal .modal-header button {
    background: none;
    color: var(--anaranjado);
    border: none;
    font-size: 2rem;
    position: relative;
}

#exampleModal .modal-header button:hover {
    text-decoration: 2px underline;
}

#exampleModal .modal-body {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#exampleModal .modal-body::before {
    top: -5px;
    left: -5px;
}

#exampleModal .modal-body::after {
    bottom: -5px;
    right: -5px;
    z-index: -1;
}

#exampleModal .carousel-control-next-icon,
#exampleModal .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
}

#exampleModal .carousel-indicators {
    bottom: -60px;
}

#exampleModal .carousel-indicators li:hover {
    background: white;
}

#exampleModal .carousel-indicators li.active {
    background: white;
}

#exampleModal .modal-footer h5 {
    justify-content: left;
    color: var(--negro);
    font-family: 'Moderat';
}


/*END project-short-section-1*/


/*START project-short-description */

.project-short-description {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--negro);
    color: var(--crema);
}

.project-short-description .description {
    color: #adb5bd;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.project-short-description h5 {
    font-size: 25px;
    font-family: 'Moderat-Light';
}

.project-short-description h6 a {
    color: var(--crema);
    font-family: 'Moderat-Light';
    font-size: 15px;
    text-decoration: 1px underline !important;
}

.project-short-description h6 a:hover {
    text-decoration: none !important;
}

.project-short-description h6 {
    font-size: 25px;
    font-family: 'Moderat-Bold';
}


/*END project-short-description */


/*START decorative-banner-1*/

.decorative-banner-1 {
    background-image: url(../images/wallpaper/wallpaper.jpg);
    background-color: white;
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END decorative-banner-1*/


/*START MEDIA QUERIES*/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .project-short-title .scroll-down {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .project-short-title .scroll-down {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

    .carousel-item img {
        height: 70vw;
        -o-object-fit: cover;
        object-fit: cover;
    }
}


/*END MEDIA QUERIES*/