/*START decorative-banner-1*/

.decorative-banner-1 {
    background-image: url(../images/wallpaper/wallpaper.jpg);
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END decorative-banner-1*/


/*START thankyou-section*/

.thankyou-section {
    background: var(--negro);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Moderat';
    color: var(--crema);
}

.thankyou-title {
    padding-top: 0rem;
    font-size: 40px;
    font-family: 'Moderat-Light';
}

.site-main .thankyou-section h1 {
    font-weight: bold;
    text-align: center;
}

.site-main .thankyou-section h1 i.anaranjado {
    color: var(--anaranjado);
    font-size: 20px;
}

/*END thankyou-section*/