/*START decorative-banner-1*/

.decorative-banner-1 {
    background-image: url(../images/8-08.png);
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END decorative-banner-1*/

/*START thankyou-section*/

.thankyou-section {
    background: var(--crema);
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: 'Moderat';
    color: var(--negro);
}

.thankyou-title {
    padding-top: 0rem;
    font-family: 'Moderat';
}

.site-main .thankyou-section h1 {
    font-weight: bold;
    text-align: center;
}

.site-main .thankyou-section h1 i.anaranjado {
    color: var(--anaranjado);
    font-size: 25px;
}

/*END thankyou-section*/

/*START decorative-banner-2*/

.decorative-banner-2 {
    background-image: url(../images/8-08.png);
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END decorative-banner-2*/